.item-comments {
  flex: 2;
  overflow: auto;
  position: relative;
  margin-top: 20px;
}

.item-comments__comment {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-comments__load-more {
  margin-bottom: 10px;
  color: rgb(199, 199, 199);
  font-weight: 700;
  position: fixed;
  background: white;
  padding-bottom: 10px;
  width: 28%;
  z-index: 99;
  margin-top: -25px;
}

.item-comments__comment__text {
  padding: 10px 0px 0px 10px;
}

.item-comments__comment__text__author {
  color: black;
  font-weight: bold;
}
