@media screen and (max-width: 980px) {
  .main-page {
    flex-direction: column;
    height: auto !important;
  }
  .main-page__content {
    display: -webkit-box !important;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.main-page {
  display: flex;
  width: 80%;
  height: 76%;
}

.main-page__content {
  display: flex;
  flex: 1;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.17);
}
