.slider-arrows {
  position: fixed;
  bottom: 52.5%;
  z-index: 99;
  width: 100%;
  cursor: pointer;
}

.slider-arrows > .fa {
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.slider-arrows > .fa-chevron-circle-right {
  position: absolute;
  right: 15.5vw;
  font-size: 36px;
  color: white;
  z-index: 99;
}

.slider-arrows > .fa-chevron-circle-left {
  position: absolute;
  left: -4.5vw;
  font-size: 36px;
  color: white;
  z-index: 99;
}
