@media screen and (max-width: 980px) {
  .main-page {
    flex-direction: column;
    height: auto !important;
    width: 100% !important;
  }
  .main-page__content {
    display: -webkit-box !important;
    flex-direction: column;
  }
}

.main-page {
  display: flex;
  width: 80%;
  height: 76%;
}

.main-page__template {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 20px;
  background: rgba(220, 71, 71, 0.73);
  color: white;
  border-radius: 2px;
  z-index: 99
}

.main-page__content {
  display: flex;
  flex: 1;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.17);
}
